force-app/main/default/flows/Challenge_4.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>collectionContactRole</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarContactRole2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loops_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>VarContactRole2.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContactRole2.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loops_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContactRole2.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Challenge 4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Challenge 4</label>
    <loops>
        <name>Loops_Contacts</name>
        <label>Loops Contacts</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact Roles</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <inputReference>collectionContactRole</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loops_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Amount</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>VarContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractContactRole</objectType>
    </variables>
    <variables>
        <name>VarContactRole2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
