force-app/main/default/flows/Flowfest_V1_Callenge_4.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_count</name>
        <label>Assign count</label>
        <locationX>782</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>countEmployees</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_countact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countsSVP</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filter_for_SVP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Account</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filter_for_SVP</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter for SVP</label>
        <locationX>778</locationX>
        <locationY>452</locationY>
        <assignNextValueToReference>currentItem_filter_for_SVP</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_countact</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_for_SVP.Title</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>SVP</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_count</targetReference>
        </connector>
    </collectionProcessors>
    <interviewLabel>Flowfest V1 Callenge 4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flowfest V1 Callenge 4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_countact</name>
        <label>Get contact</label>
        <locationX>776</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filter_for_SVP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NY.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NY</name>
        <label>Get NY account</label>
        <locationX>776</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_countact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingState</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Account</name>
        <label>update Account</label>
        <locationX>777</locationX>
        <locationY>707</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NY.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>countEmployees</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_NY</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countEmployees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countsSVP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_filter_for_SVP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
